.contact {
  margin-top: 4rem;
}
.section__contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-line {
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 3.2rem;
  }
  &-subline {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 140, 21);
  }
}
.contact__wrapper-information{
  width: 30%;
}
.contact__paragraph {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.address {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: inline-block;
  letter-spacing: 1px;
}
.contact__number {
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  color: rgb(255, 140, 21);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: #673ab7;
  }
}
.company__name {
  font-size: 3rem;
  font-weight: 700;
  color: #1a1a1a;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}
.contact__working-day {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  letter-spacing: 1px;
}
.contact__working-hours {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px){
  .section__contact{
    flex-wrap: wrap;
  }
  .contact__map{
    width: 100%;
  }
  .contact__map iframe{
    display: inline-block;
    width: 100% ;
    height: 40rem;
  }
  .contact__wrapper-information{
    width: 100%;
    margin-bottom: 2rem;
  }

}